@import 'bootstrap/scss/bootstrap.scss';

body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-faucet {
  max-width: 550px;
}

.pt-80px {
  padding-top: 80px;
}

.separator {
  font-size: 80%;
  color: #888;
  font-weight: 200;
}

